$browser-context: 16;
$lines-to-show: 2;
$line-height: 1.333;

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

$font-size: $browser-context;

@mixin transition($string: $transition--default) {
  -webkit-transition: $string;
  -moz-transition: $string;
  -o-transition: $string;
  transition: $string;
}

@mixin autoHide($delay) {
  opacity: 1;

  -webkit-animation: hideAnimation .3s ease-in $delay forwards;
  -moz-animation: hideAnimation .3s ease-in $delay forwards;
  -o-animation: hideAnimation .3s ease-in $delay forwards;
  animation: hideAnimation .3s ease-in $delay forwards;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes hideAnimation {
  to {
    opacity: 0;
  }
}

.video-js {
  $shelf-width: 1em;

  .vjs-dock-text,
  .vjs-dock-shelf {
    font-size: em(18, 10);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    pointer-events: none;
    position: absolute;
    top: 0;
    @include autoHide(10s)
  }

  .vjs-dock-text {
    left: 10px;
    top:10px;
    margin: 0;
    max-width: 75%;

    // Adopt some core styles from .vjs-modal-dialog from video.js
    background: rgba(0, 0, 0, 0.6);
    padding: 10px $shelf-width 10px 10px;
  }

  &.vjs-no-flex .vjs-dock-text {
    padding-bottom: 1em;
  }

  .vjs-dock-shelf {
    padding: 1em 1em;
    right: 0;
    text-align: right;
    width: $shelf-width;

    * {
      pointer-events: auto;
    }
  }

  .vjs-dock-title,
  .vjs-dock-description {
    margin: 0;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .vjs-dock-title {
    font-weight: normal;
    letter-spacing: 1px;
    line-height: $line-height; // 20px
  }

  .vjs-dock-description {
    font-weight: normal;
    line-height: 1.5; // 18px
  }
}
